.content {
    position: absolute;
    top: 48px;
    left: 226px;
    background-color: white;
    width: calc(100% - 226px);
    height: calc(100% - 48px);
}

.content .content-header {
    height: 56px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 16px;
}
    .content-header .header-title {
        font-size: 20px;
        font-weight: 800;
    }
    .content-header .header-add-employee {
        display: flex;
        height: 42px;
        align-items: center;
        padding: 0 12px 0 12px;
        background-color: #019160;
        color : white;
        border-radius: 4px 4px 4px 4px;
    }
    .content-header .header-add-employee:hover {
        cursor: pointer;
        opacity: 0.8;
    }
        .header-add-employee .add-icon{
            background-image: url(../../assets/icon/add.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 16px;
            width: 16px;
            margin-right: 10px;
        }

.content .content-filter {
    height: 44px;
    display: flex;
    justify-content: space-between;
    padding: 1px 1px 1px 1px;
    background-color: white;
}

    .content-filter .filter-left {
        display: flex;
        height: 42px;
        margin-left: 16px;
    }

        .filter-left .search-by-id {
            width : 300px;
            border-radius: 4px;
        }
            .search-by-id .search-box {
                background-image: url(../../assets/icon/search.png);
                background-position: 16px center;
                background-repeat: no-repeat;
                border: 1px solid #BBBBBB;
                padding: 8px 8px 8px 40px;
                width: 300px;
                font-size: 12px;
                height: 40px;
            }

            .search-by-id .search-box:focus {
                border-color: #019160;
            }

        .filter-left .combobox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 4px;
            border: 1px solid #BBBBBB;
            margin-left: 12px;
            width : 200px;
        }
            .combobox .combobox-name {
                padding-left: 16px;
            }
            .combobox .combobox-icon {
                padding: 12px 16px;
                color: #bbbbbb;
            }
            .filter-left .combobox:hover {
            background-color: #e9ebee;
            cursor: pointer;
        }

        .content-filter .filter-right {
            display: flex;
            height: 42px;
            margin-right: 16px;
        }        
        .filter-right .btn-refresh {
            font-size: 16px;
            padding: 11px;
            border-radius: 4px;
            border: 1px solid #BBBBBB;
            width: 42px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: white;
        }
        .filter-right .btn-refresh:hover {
            background-color: #EEEEEE;
            cursor: pointer;
        }

        .filter-right .btn-delete {
            font-size: 16px;
            padding: 11px;
            border-radius: 4px;
            border: 1px solid #BBBBBB;
            width: 42px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center;
            color: red;
            background-color: white;
            margin-right: 12px;
        }

        .filter-right .btn-delete:hover {
            background-color: #EEEEEE;
            cursor: pointer;
        }

        .filter-right .btn-edit {
            font-size: 16px;
            padding: 11px;
            border-radius: 4px;
            border: 1px solid #BBBBBB;
            width: 42px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center;
            color: #718ad4;
            background-color: white;
            margin-right: 12px;
        }

        .filter-right .btn-edit:hover {
            background-color: #EEEEEE;
            cursor: pointer;
        }

.content .content-table{
    height: calc(100vh - 200px);
    padding-right: 16px;
    padding-left: 12px;
}
    
.content .paging-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 226px);
    height : 56px;
    border-top: 2px solid #e9ebee;
    /* background-color: #e9ebee; */
}
    .paging-bar .paging-left {
        position: absolute;
        left: 0;
        padding: 20px 16px 20px 22px;
    }
    .paging-bar .pagination {
        display: flex;
        width : 500px;
    }
        .pagination .pagination-number {
            margin-top: 0px;
        }
        .pagination .btn-page {
            background-size: contain;
            background-repeat: no-repeat;
            outline: none;
            height: 32px;
            width: 32px;
            border-radius: 4px;
            margin: 12px;
            margin-top: 12px;
            border-color:#e9ebee ;
            border: none;
        }
        .pagination .btn-page:hover{
            background-color: white;
        }
        
        .pagination .btn-pagenumber{
            color: black;   
            float: left;
            width: 32px;
            height: 32px;
            margin-top: 12px;
            border-radius: 50%;
            background-size: contain;
            align-items: center;
            border:1px solid #bbbbbb;
            text-align: center;
            margin-left: 8px;
            margin-right: 8px;
            cursor: pointer;
            display: grid;
            background-color: #e9ebee;
        }
        .pagination .btn-pagenumber:hover{
            background-color: white;
        }
        .cur-active {
            background-color: #019160 !important;
            color: white !important;
        }
        .btn-pagenumber.cur-active:hover {
            background-color: #019160;
            color: white;
        }
    .paging-bar .paging-right {
        position: absolute;
        right: 0;
        padding: 20px 16px;
    }